<body>
    {{> nav  }}

    <div class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
            <h1 class="display-3 text-center">Cheerio Mongoose</h1>
            <span>Reddit Gaming Edition</span>
        </div>
        {{!-- <div class="card" id="search-parameters">
                <h5 class="card-header">Search Parameters</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="search-term">Search Term:</label>
                            <input type="text" class="form-control" id="search-term">
                        </div>
                        <div class="form-group">
                            <label for="records">Number of Records to Retrieve:</label>
                            <select class="form-control" id="records">
                            <option>1</option>
                            <option>5</option>
                            <option>10</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="start-year">Start Year (Optional):</label>
                            <input type="text" class="form-control" id="start-year">
                        </div>
                        <div class="form-group">
                            <label for="end-year">End Year (Optional):</label>
                            <input type="text" class="form-control" id="end-year">
                        </div>
                        <button type="submit" class="btn btn-primary" id="search-button">Search</button>
                        <button type="submit" class="btn btn-primary" id="clear-button">Clear Results</button>
                    </form>
                </div>
        </div> --}}
        <div class="card">
            <h5 class="card-header">Saved Articles</h5>
            <div class="card-body" id="top-articles">
                {{#each articles }}
                {{#if saved}}
                <div>
                    {{!-- <h4>{{ title }}</h4> --}}
                    <p>{{ title }}</p>
                    <p>{{ saved }}</p>
                    <p>
                        <a href="{{ link }}" target="_blank">{{ link }}</a>
                    </p>
                    <button class="btn btn-sm btn-primary my-2 my-sm-0 saveArticleBtn">Notes</button>
                    <button class="btn btn-sm btn-primary my-2 my-sm-0 saveArticleBtn">Delete</button>
                </div>
                {{/if}}
                {{/each }}
            </div>
        </div>
    </div>
</body>