<body>
    {{> nav  }}

    <div class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
            <h1 class="display-3 text-center">Cheerio Mongoose</h1>
            <span>Reddit Gaming Edition</span>
        </div>

        <div class="card">
            <h5 class="card-header">Saved Articles</h5>
            <div class="card-body" id="top-articles">
                {{#each articles }}
                {{#if saved}}
                <div class="articles">
                    <p data-id="{{ _id }}">{{ title }}</p>
                    <p>{{ saved }}</p>
                    <p>
                        <a href="{{ link }}" target="_blank">{{ link }}</a>
                    </p>
                    <button class="btn btn-sm btn-primary my-2 my-sm-0 getNoteBtn" data-toggle="modal" data-target="#articleNoteModal">Notes</button>
                    <button class="btn btn-sm btn-primary my-2 my-sm-0 saveArticleBtn">Delete</button>
                </div>
                {{/if}}
                {{/each }}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="articleNoteModal" tabindex="-1" ole="dialog" aria-labelledby="exampleModalCenterTitle" ria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" data-id="{{ _id }}">{{ title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="notes-input" class="col-form-label">Notes:</label>
                                <textarea class="form-control" id="notes-input"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary saveNoteBtn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>